/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    // Base path for nf-core test-datasets, used by the local module tests under modules/local/**/tests/
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
